.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 928px;
    align-self: center;
}

.rulesWrapper {
    margin-top: 20px;
}

.widgetsWrapper {
    display: flex;
    margin-top: 26px;
    justify-content: space-between;
}

.miniWidgetsWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
